<section ng-controller="partiesListCtrl as party">
    <ul>
        <li ng-repeat="part in party.parties">
            <a href="/parties/{{part._id}}"><span>{{part.name}}</span></a>
            <br/>
        </li>
    </ul>
    name:
    <input type="text" ng-model="party.name">
    <br/> description:
    <input type="text" ng-model="party.description">
    <input type="checkbox" ng-model="party.public">
    <br/>
    <button ng-click="party.add()">Add</button>
    <br/>
    <button ng-click="party.remove()">Remove the first</button>
</section>
