<section ng-controller="PartyDetailsCtrl as detail">
    <p>ID: {{ detail.party._id }}</p>
    <p>Name: {{ detail.party.name }}
        <br/>
        <input type="text" ng-model="detail.party.name">
    </p>
    <p>Description: {{ detail.party.description }}
        <br/>
        <input type="text" ng-model="detail.party.description">
        <input type="checkbox" ng-model="detail.party.public">
    </p>
    <span>
        <button ng-click="detail.reset()">Reset</button>
    </span>
    <span>
        <button ng-click="detail.save()">Save</button>
    </span>
    <ul>
        Users:
        <li ng-repeat="user in detail.users">
            <div>{{user.emails[0].address}}</div>
        </li>
    </ul>
</section>
